<p style="color: green"><%= notice %></p>

<h1>Wins</h1>

<div id="wins">
  <% @wins.each do |win| %>
    <%= render win %>
    <p>
      <%= link_to "Show this win", win %>
    </p>
  <% end %>
</div>

<%= link_to "New win", new_win_path %>
